.file-requirement{
    text-align: center;

    .icon {
        font-size: 54px;
    }
}

.viewer{
    .close-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}